// Specific CSS for your home-page
body {
    background-color: #03b3c0 !important;
}

header {
    position: relative;
    background-color: black;
    height: 54rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

h1 {
    color: whitesmoke !important;
    font-family: 'Cinzel', serif !important;
}

header .container2 {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {}

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
* {
    transition: all 0.3s ease-out;
}

.exodus {
    height: 100%;
    font-family: 'Cinzel', serif !important;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h3 {
    color: whitesmoke !important;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    font-family: 'Cinzel', serif !important;
}

h5 {
    color: whitesmoke !important;
    font-family: 'Cinzel', serif !important;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: black;
    font-family: 'Cinzel', serif !important;
    &.small {
        font-size: 14px;
    }
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #003f88;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: 'Cinzel', serif !important;
}

.card1 {
    display: block;
    position: relative;
    width: 21rem;
    background-color: #10efff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #003f88;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.25s ease-out;
    }
    &:hover:before {
        transform: scale(21);
    }
}

.card1:hover {
    p {
        transition: all 0.3s ease-out;
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Cinzel', serif;
    }
    h3 {
        transition: all 0.3s ease-out;
        color: #ffffff;
        font-family: 'Cinzel', serif;
    }
}

.lococont {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.loco {}

// timeline
.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #003f88;
    color: #fff;
    max-height: 50px;
    z-index: 2;
}

.how-it-works.row .col-2 {
    align-self: stretch;
}

.how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #003f88;
    z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid #003f88;
    margin: 0;
    top: 17px;
    position: relative;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid #003f88;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}

//footer
p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 28px;
}

.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #007bff;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

.animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff;
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}


/* Animated heading border */

@keyframes primary-short {
    0% {
        width: 15%;
    }
    50% {
        width: 90%;
    }
    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }
    50% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.dk-footer {
    padding: 75px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2;
    margin-top: 8rem;
}

.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px;
}

.dk-footer .contact-us .contact-info {
    margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
    margin-left: -80px;
}

.dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: #007bff;
}

.dk-footer-box-info {
    position: absolute;
    top: -122px;
    background: #202020;
    padding: 40px;
    z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dk-footer-box-info .footer-social-link li {
    display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A;
}

.footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
}

.footer-info-text {
    margin: 26px 0 32px;
}

.footer-left-widget {
    padding-left: 80px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget a:hover {
    color: #007bff;
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

.dk-footer-form {
    position: relative;
}

.dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff;
}

.dk-footer-form button:hover {
    cursor: pointer;
}


/* ==========================

    Contact

=============================*/

.contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-icon {
    position: absolute;
}

.contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff;
}

.contact-info {
    margin-left: 75px;
    color: #fff;
}

.contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}

.copyright {
    padding: 28px 0;
    margin-top: 55px;
    background-color: #202020;
}

.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.copyright a:hover {
    color: #007bff;
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

.back-to-top {
    position: relative;
    z-index: 2;
}

.back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742;
}

//contact
.contact-form {
    background: #04a4af;
    margin-top: 10%;
    margin-bottom: -12%;
    width: 100%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    margin-top: -5rem;
    line-height: 1.2;
}

#locoh2 {
    margin-top: -7rem;
    font-size: 3rem;
    font-family: 'Cinzel', serif !important;
}

//media header
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .display-3 {
        font-size: 4.5rem;
        font-weight: 300;
        display: flex;
        justify-content: center;
        line-height: 1.2;
        margin-top: -7rem;
    }
    header {
        position: relative;
        background-color: black;
        height: 45rem;
        width: 100%;
        overflow: hidden;
    }
    .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-left: 1px;
    }
    .container34 {
        margin-left: 25px;
        margin-right: 28px;
    }
    .section-heading {
        display: none;
    }
    .footer-widget {
        display: none;
    }
    .dk-footer-box-info {
        display: none;
    }
    .dk-footer {
        padding: 75px 0 0;
        background-color: #151414;
        position: relative;
        z-index: 2;
        margin-top: 8rem;
        height: 39rem;
    }
    .footer-awarad {
        margin-top: -2rem;
        display: flex;
        flex: 0 0 100%;
        align-items: center;
    }
    .dk-footer .contact-us {
        margin-top: 0;
        margin-bottom: 30px;
        margin-left: -5rem;
        padding-left: 80px;
    }
    .dk-footer {
        padding: 75px 0 0;
        background-color: #151414;
        position: relative;
        z-index: 2;
        margin-top: 1rem;
        height: 39rem;
    }
}