<div>
    <div class="header-blue">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container-fluid"><a class="navbar-brand" href="#">Digital Impact</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">For Businesses</a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Services</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">About</a><a class="dropdown-item" role="presentation" href="#">Contact</a><a class="dropdown-item" role="presentation" href="#">FAQ</a></div>
                        </li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search text-white"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                    </form><span class="navbar-text"> <a class="login" href="#"></a></span><a class="btn btn-light action-button" role="button" href="#">Goom</a>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1>Goom.</h1>
                    <p>We at Digital Impact are very proud to present our latest invention, Goom. A web app that gives the user points by scanning QR codes to win the coolest stuff!<br></p> <button class="btn btn-light btn-lg action-button" type="button">Learn More<i class="fa fa-long-arrow-right ml-2"></i></button>
                </div>
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                    <div class="iphone-mockup"> <img class="device" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1610277029/Bildschirmfoto_2021-01-10_um_12.03.45_iphone12black_portrait_rzkcfb.png"> <!-- <div class="screen">	</div>	-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="containermockup"> 
    <div class="row">
        <div class="col-lg-6" >
        <img class="imghome1" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1610278711/Bildschirmfoto_2021-01-10_um_12.28.52_iphone12black_portrait_vwtjoo.png" alt="travis scott"/>
        </div>
    



        <div class="col-lg-6" >
            <div class="firstm">
                <h2 class="newh2">Every Day new Updates</h2>
                <h3 class="newh3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.us est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,</h3>
            </div>
        </div>


<div class="col-lg-6" >
        <img class="imghome2" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1610278731/Bildschirmfoto_2021-01-10_um_12.29.02_iphone12black_portrait_cq4adf.png" alt="travis scott"/>
        </div>
<div class="col-lg-6" >
            <div class="secondm">
                <h2 class="newh2">Every Day new Updates</h2>
                <h3 class="newh3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet</h3>
            </div>
        </div>


        <div class="col-lg-6" >
        <img class="imghome3" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1610278746/Bildschirmfoto_2021-01-10_um_12.30.21_iphone12black_portrait_eeypay.png" alt="travis scott"/>
        </div>

        <div class="col-lg-6" >
            <div class="thirdm">
                <h2 class="newh2">Every Day new Updates</h2>
                <h3 class="newh3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet</h3>
            </div>
        </div>
    </div>
</div>
