<div>
    <div class="header-blue">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container-fluid"><a class="navbar-brand" href="#">G & P</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Services</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Rice Straws</a><a class="dropdown-item" role="presentation" href="#">Tobacycle</a></div>
                        </li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search text-white"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1>Guerk & Partners</h1>
                    <p>
Guerk & Partners is a company that focuses on efficient problem solving for companies and individuals in relation to sustainable development. We are active in the field of biodegradable food contact materials which offer the same user experience as the plastic variants and in the waste management industry. We offer collection, storage and recycling processes for toxic cigarette waste.<br></p>
                </div>
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                    <div class="iphone-mockup"> <img class="device" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1629185459/Hologram-2_c61wfg.png"> <!-- <div class="screen">	</div>	-->
                    </div>
                </div>
            </div>
        </div>
      
        <%# <div class="newave"> %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path  fill-opacity="1" d="M0,256L48,261.3C96,267,192,277,288,282.7C384,288,480,288,576,272C672,256,768,224,864,208C960,192,1056,192,1152,181.3C1248,171,1344,149,1392,138.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        <%# </div> %>
        </div>
    </div>
</div>

<div class="newtitle">
 <h1>Our Projects :</h1>
</div>

<div class="row">

<div class="col-sm">
<div class="card text-white card-has-bg click-col" href="https://tobacycle.lu/" style="background-image:url('https://res.cloudinary.com/dn6wh4u2h/image/upload/v1629201822/jack-church-LZ8NzZrByts-unsplash_icpn4c.jpg');">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">Tobacycle</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="https://tobacycle.lu/">LU, BE, NL, FR</a></h4>
          </div>
          </div>
  </div>
</div>
    <div class="col-sm">
     <p class="lorem">Guerk & Partners is the official partner </br>
      and representative of Tobacycle for the BeNeLux area and </br>
       France. The aim of the project is a wide-ranging collection </br>
        system with many central collection points for an integral </br>
         solution to cigarette pollution. <br></p>
<button class="button-64" ><span class="text"><a href="https://tobacycle.lu/">MORE</a></span></button>
    </div>
</div>

  <div class="row">

    <div class="col-sm">
<div class="card text-white card-has-bg click-col" href="https://www.green-impact.lu/" style="background-image:url('https://res.cloudinary.com/dn6wh4u2h/image/upload/v1629202405/rhianon-lassila-vbVD8dywQ6w-unsplash_chrcik.jpg');">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">Green Impact</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="https://www.green-impact.lu/">Rice Straws</a></h4>

          </div>
          </div>
  </div>
</div>
    <div class="col-sm">
     <p class="lorem">
      Same user experience as the plastic version, but </br>
      biodegradable  and even edible! Surprise your customers with the </br>
       new innovative rice straws from Guerk & Partners. Enjoy </br>
      your drink without the annoying paper straw.<br></p>
<button class="button-64" ><span class="text"><a href="https://www.green-impact.lu/">MORE</a></span></button>
  </div>
  </div>



<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#226071" fill-opacity="1" d="M0,96L60,117.3C120,139,240,181,360,170.7C480,160,600,96,720,69.3C840,43,960,53,1080,80C1200,107,1320,149,1380,170.7L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#226071" fill-opacity="1" d="M0,96L60,117.3C120,139,240,181,360,170.7C480,160,600,96,720,69.3C840,43,960,53,1080,80C1200,107,1320,149,1380,170.7L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>



<form action="https://formspree.io/f/mwkwppdr" method="POST">
<div class="background">
  <div class="container2">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">CONTACT INFO : +352 621 887 216</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control"  name="message" placeholder="NAME" >
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="EMAIL" type="email" name="_replyto">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" name="message" placeholder="COMPANY">
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" name="message" placeholder="MESSAGE">
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button" type="submit">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

 <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Tobacycle</a></li>
                            <li><a href="#">Green Impact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Since 2021</a></li>
                            <li><a href="#">34 am Steffesgaart, Luxembourg</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>G & P</h3>
                        <p>Guerk and Partners </br>
                          +352 621 887 216 </br>
                          f.hermann@guerkandpartners.com
                        <p>
                    </div>
                </div>
                <p class="copyright">Guerk & Partners © 2021</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>





    